@import "node_modules/normalize.css/normalize";
@import "./sprite-brand-logos";
@import "./sprite-subculture";

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

$desktop-width: 1280px;
$tablet-width: 960px;
$mobile-width: 580px;
$specific-font: "DM Sans", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Segoe UI", Ubuntu, "Helvetica Neue", Arial, sans-serif;

$theme-color: #3333ff;

* {
  box-sizing: border-box;
}

body {
  font-family: $specific-font;
  font-size: 16px;

  &.no-scroll {
    overflow: hidden;
  }
}

a {
  color: #121212;
  text-decoration: none;

  &:visited {
    color: #605f5f;
  }
}

._line {
  height: 128px;
  width: 4px;
  margin: 0 auto;
  background: $theme-color;
}

.navbar.wide {
  @media (max-width: $desktop-width) {
    display: none;
  }

  font-size: 1.25em;
  font-weight: bold;

  > .body {
    display: flex;
    align-items: center;
    max-width: $desktop-width;
    margin: 0 auto;
    padding: 32px;

    > nav {
      margin-left: auto;

      > a {
        display: inline-block;
        width: 9em;
        padding: 16px 0;
        text-align: center;

        &.install {
          color: $theme-color;
          border: 1px solid $theme-color;
          border-radius: 6px;
        }
      }
    }
  }
}

.navbar.narrow {
  @media (min-width: $desktop-width) {
    display: none;
  }

  > .body {
    display: flex;
    align-items: center;
    max-width: $desktop-width;
    margin: 0 auto;

    > *:last-child {
      margin-left: auto;
    }

    > .toggler {
      display: none;
      border: none;
      outline: none;
      background: transparent;

      &-icon {
        display: block;

        width: 24px;
        height: 24px;

        background: url(./icons/navbar-toggle-open.svg) no-repeat center;
        background-size: 100% 100%;
      }

      &.open &-icon {
        background-image: url(./icons/navbar-toggle-close.svg);
      }
    }
  }
}

.install {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  padding: 0 0 64px 0;

  .site-section-body {
    display: flex;
    align-items: center;
    padding-top: 96px;
    padding-bottom: 96px;

    .logo {
      position: relative;
      display: flex;
      img {
        display: block;
        width: 378px;
        height: 378px;
      }
    }
  }

  .description {
    height: auto;
  }

  .headline,
  .subline {
    display: block;
    word-break: break-word;
  }

  .headline {
    font-size: 6em;
    font-weight: bold;
    margin: 64px 0 32px 0;
    letter-spacing: -0.4px;
    color: #000;
  }

  .subline {
    font-size: 2em;
    line-height: 37px;

    margin: 0;
    margin-bottom: 54px;

    letter-spacing: -0.4px;

    color: #000;
  }

  .open-store {
    .link-button {
      display: block;
      font-family: $specific-font;
      color: #fff !important;
      font-size: 2em;
      font-weight: 500;
      line-height: 64px;
      background-color: $theme-color;
      border-radius: 6px;

      width: 20em;
      margin: 0 auto;

      &::before {
        display: inline-block;
        width: 28px;
        height: 28px;
        margin-right: 8px;

        content: "";
        vertical-align: middle;

        background: url(./icons/download.svg) no-repeat center;
        background-size: contain;
      }
    }

    .link-description {
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      margin-top: 24px;

      display: block;

      color: #5d6f88;
    }
  }
}

.core-feature {
  max-width: $desktop-width;
  margin: 0 auto;

  .step-scroller {
    width: 100%;
    margin-top: 92px;
    display: flex;
    justify-content: space-between;

    .step {
      position: relative;
      width: 352px;

      > img {
        margin: 24px 0 16px 0;
      }

      &-title {
        color: #000;
        font-weight: bold;
        font-size: 2.7em;
        margin: 0;

        a {
          color: #1c68f3;
          font-weight: 300;
        }
      }

      &-tip {
        margin: 0;
        text-align: left;
        font-size: 1.7em;
      }
    }
  }

  .site-section-title {
    text-align: center;
    font-size: 9em;
    margin: 32px 0;

    > *:nth-child(2) {
      margin: -0.1em 0 -0.3em 0;
      font-size: 140%;
    }

    > *:nth-child(4) {
      font-size: 80%;
    }
  }

  .site-section-header {
    b {
      color: #00f;
    }
  }

  .site-section-description {
    text-align: center;
    font-size: 2em;
    margin: 2em 0 3em 0;
  }

  .site-section-body {
    display: flex;
    justify-content: space-between;
  }

  .illust {
    display: block;
    margin: 0 auto 82px auto;
  }
}

.ability {
  margin-top: 128px;

  .site-section-header {
    text-align: center;
    background: #3333ff;
    color: #fff;

    .site-section-title {
      font-size: 7em;
      padding: 92px 64px;
      max-width: $desktop-width;
      margin: 0 auto;
    }
  }

  .site-section-body {
    > div {
      display: flex;

      &:nth-child(even) {
        > div:first-child {
          order: 2;
        }

        > div:last-child {
          order: 1;
        }
      }

      > div {
        width: 50%;
        height: 30em;
        display: flex;

        &:first-child {
          > div {
            font-size: 2.3em;
            font-weight: bold;

            > p {
              color: $theme-color;
              margin: 1em 0 0 0;

              > b {
                display: block;
                color: #ff8686;
              }
            }
          }
        }

        &:last-child {
          background: #000057;
          color: #fff;

          > div {
            > h3 {
              font-size: 1.3em;
              margin: 1em 0 0 0;
            }

            > p {
              font-size: 1.3em;
              margin: 0.8em 0 0 0;
            }
          }
        }

        > div {
          max-width: 600px;
          margin: auto;
          padding: 32px 64px;
        }
      }

      @media (max-width: 850px) {
        display: block;

        > div {
          width: 100%;
        }
      }

      @media (max-width: 1300px) {
        > div {
          height: 25em;
        }
      }
    }
  }

  .site-section-footer {
    text-align: center;
    background: #3333ff;
    color: #fff;
    padding: 92px 64px;

    .site-section-title {
      font-size: 2.75em;
      margin: 0;
      margin-bottom: 32px;
    }

    .open-store {
      .link-button {
        display: block;
        font-family: $specific-font;
        color: $theme-color;
        font-size: 2em;
        font-weight: bold;
        line-height: 64px;
        background-color: #fff;
        border-radius: 6px;

        width: 20em;
        margin: 0 auto;
      }

      .link-description {
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        margin-top: 24px;

        display: block;

        color: #fff;
        opacity: 0.65;
      }
    }
  }

  .aspect {
    width: 540px;
    height: 250px;
    align-items: center;
    padding-left: 64px;
    display: flex;

    &-title {
      width: 160px;
      height: 160px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &-description {
      color: #5d6f88;
      flex: 1;
      font-size: 30px;
      line-height: 37px;
      padding-left: 32px;
      width: 476px;
    }
  }

  .aspect:nth-child(1) .aspect-title {
    background-image: url(./icons/ability-1.svg);
  }

  .aspect:nth-child(2) .aspect-title {
    background-image: url(./icons/ability-2.svg);
  }

  .aspect:nth-child(3) .aspect-title {
    background-image: url(./icons/ability-3.svg);
  }

  .aspect:nth-child(4) .aspect-title {
    background-image: url(./icons/ability-4.svg);
  }
}

.meme-away {
  max-width: $desktop-width;
  margin: 0 auto;
  padding: 92px 64px 64px 64px;

  > .body {
    > h2 {
      font-size: 3.5em;
      font-weight: bold;
      margin: 0 0 32px 0;
    }

    > p {
      font-size: 1.6em;

      b {
        color: $theme-color;
      }
    }
  }

  > .images {
    margin-top: 76px;
    white-space: nowrap;
    overflow: hidden;

    .card {
      display: inline-block;
      width: 400px;
      height: 300px;

      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      @each $index in 1, 2, 3, 4 {
        &:nth-child(#{$index}) {
          background-image: url("./images/meme-#{$index}.jpg");
        }
      }

      &:not(:last-child) {
        margin-right: 48px;
      }
    }
  }
}

.faq {
  background: #ebebff;

  > .body {
    max-width: $desktop-width;
    margin: 0 auto;
    padding: 92px 64px 64px 64px;

    > h2 {
      font-size: 4em;
      font-weight: bold;
      margin: 0 0 64px 0;
    }

    > .faqs {
      display: flex;

      > div {
        width: 50%;

        > div {
          font-size: 1.75em;
          margin: 1em 0;
          padding: 0 1.5em;

          background-image: url("./icons/Ellipse 15.svg");
          background-repeat: no-repeat;
          background-position: 0 0.4em;
        }
      }
    }
  }
}

.partners {
  > .body {
    max-width: 54rem;
    margin: 0 auto;
    padding: 92px 64px 92px 64px;
    text-align: center;

    > h2 {
      font-size: 2.7em;
      font-weight: bold;
      margin: 0 0 20px 0;
    }

    .logos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 0;

      a {
        font-size: 36px;
        line-height: 40px;

        display: inline-block;

        height: 40px;

        user-select: none;

        color: transparent;
        background: no-repeat center;
        background-size: 100%;
        margin-top: 64px;
        &:not(:first-child) {
          margin-left: 32px;
        }
      }

      a[title="arweave"] {
        width: 180px;
        background-image: url(./icons/arweave.svg);
      }
      a[title="ChainIDE"] {
        background-image: url(./icons/chain-ide.png) !important;
      }
      a[title="gun"] {
        background-image: url(./icons/gun.svg);
      }
      a[title="maker"] {
        width: 160px;
        background-image: url(./icons/maker.svg);
      }
      a[title="web3bootcamp"] {
        width: 100px;
        height: 40px;
        background-image: url(./icons/web30-bootcamp.svg);
      }
      a[title="okb"] {
        opacity: 0.5;
        width: 45px;
        height: 46px;
        background-image: url(./icons/okb.svg);
      }
      a[title="HashKey"] {
        opacity: 0.4;
        width: 110px;
        background-image: url(./icons/hash-key.jpg);
      }
      a[title="Gitcoin"] {
        opacity: 0.4;
        width: 40px;
        background-image: url(./icons/gitcoin.png);
      }
    }
  }
}

.alicebob {
  background: $theme-color;
  color: #fff;

  > .body {
    max-width: $desktop-width;
    margin: 0 auto;
    padding: 0 64px;

    background-image: url("./icons/Mask Network.svg");
    background-repeat: no-repeat;
    background-position: top 32px right 16px;

    > .text {
      display: block;
      padding: 32px 72px;
      font-size: 1.5em;
    }

    > .top {
      height: 100px;
      text-align: left;

      > .line {
        display: inline-block;
        height: inherit;
        width: 220px;
        border-bottom: solid 1px #fff;
        vertical-align: bottom;
      }
    }

    > .bottom {
      height: 100px;
      text-align: right;

      > .line {
        display: inline-block;
        height: inherit;
        width: 220px;
        border-top: solid 1px #fff;
        vertical-align: top;
      }
    }
  }
}

.principle {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 40px;

  p {
    margin: 0;
    margin-top: 8px;
  }
}

.recent-news {
  .site-content-body {
    padding-top: 32px;
    padding-bottom: 64px;

    text-align: center;
    h3 {
      font-size: 16px;
      font-weight: normal;
      line-height: 28px;

      margin: 0;

      color: #959393;
    }
    a[href] {
      font-size: 24px;
      font-weight: 500;
      line-height: 34px;

      display: block;

      margin: 16px 0;

      color: #3b3b3b;
    }
    time {
      font-size: 14px;
      font-weight: 300;
      line-height: 1.75;
      display: block;
      color: #3b3b3b;
    }
  }
}

.misc {
  .site-section-body {
    display: flex;

    padding-top: 64px;
    padding-bottom: 64px;

    border-top: 1px solid #eaeaea;
  }

  .description {
    width: 230px;
    margin: 0;

    p {
      margin-top: 0;
    }
  }

  .about {
    margin-left: 30px;

    h4,
    a {
      font-size: 14px;
      line-height: 1.75;

      display: block;

      margin: 0;

      color: #3b3b3b;
      &:not(:first-child) {
        margin-top: 8px;
      }
    }
  }

  .subscribe {
    display: flex;
    align-items: flex-end;
    flex: 1;
    flex-direction: column;
    h4 {
      font-size: 16px;
      font-weight: normal;
      line-height: 28px;

      margin: 0;
      margin-bottom: 24px;

      color: #3b3b3b;
    }

    form {
      display: flex;

      width: 285px;
      height: 42px;

      input[type="email"],
      button[type="submit"] {
        border: 1px solid #eaeaea;
      }
      input[type="email"] {
        flex: 1;

        padding: 9px 12px;

        border-right: none;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        outline: none;
      }
      button[type="submit"] {
        width: 64px;
        color: transparent;
        border-color: #1c68f3;
        border-radius: 0 2px 2px 0;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        outline: none;
        background: #1c68f3 url(./icons/btn-subscribe.svg) no-repeat center;
        background-size: 100% 100%;
      }
    }

    nav {
      display: flex;
      margin-top: 24px;
      a {
        display: block;

        width: 24px;
        height: 24px;

        &:not(:first-child) {
          margin-left: 32px;
        }

        @each $name in "facebook", "twitter", "github", "telegram", "discord" {
          &[href*="#{$name}"] {
            background-image: url("./icons/media-#{$name}.svg");
            background-size: 100% 100%;
          }
        }
      }
    }
  }
}

footer {
  left: 0;
  width: 100vw;
  position: absolute;
  padding: 32px 0;
  border-top: 1px solid #eaeaea;

  .description {
    max-width: $desktop-width;
    margin: 0 auto;
  }

  .content {
    font-size: 14px;
    line-height: 1.75;

    display: flex;
    justify-content: space-between;

    color: #939393;
    a {
      color: #3b3b3b;
      &:not(:first-child) {
        margin-left: 16px;
      }
    }
  }
}

@import "./site-tablet";
@import "./site-mobile";
